/********** Template CSS **********/
:root {
    --primary: #00B074;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;

    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--primary);
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--primary);
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
.about-bg {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
}


/*** Category ***/
.cat-item {
    display: block;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border: 1px solid transparent;
    transition: .5s;
}

.cat-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Job Listing ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}

.job-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.fa-user:before {
    content: "\f007";
    position: absolute;
    top: 12px;
    left: -20px;
}

.fa-lock:before {
    content: "\f023";
    position: absolute;
    left: -20px;
}

.fa-at:before {
    content: "\f1fa";
    position: absolute;
    left: -20px;
}

i.fa.fa-lock.sign-in {
    position: absolute;
    bottom: 52px;
}

i.fas.fa-key {
    position: absolute;
    left: -20px;
    top: 13px;
}


i.fa.fa-lock.register {
    position: absolute;
    bottom: 120px;
}

i.fa.fa-lock.lg-ga {
    position: absolute;
    bottom: 51px;
}

.login-modal-header .modal-title {
    color: #fff;
    margin-right: 86px;
}

.form-group {
    padding: 10px;
}

a {
    color: #00B074;
    padding: 5px;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 62px;
    margin-bottom: 0;
    list-style: none;
}

.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus {
    background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
}


.login-tab {
	margin: 0 auto;
	max-width: 380px;
}

.login-modal-header {
	background: #27ae60;
	color: #fff;
}

.login-modal-header .modal-title {
	color: #fff;
}

.login-modal-header .close {
	color: #fff;
}

.login-modal i {
	color: #000;
}

/* .login-modal form {
	max-width: 340px;
} */

.tab-pane form {
	margin: 0 auto;
}
.login-modal-footer{
	margin-top:15px;
	margin-bottom:15px;
}


.bg-custom-1 {
    background-color: #85144b;
  }

  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }


  /* div#ajaxRefreshLogout {
    margin-top: -7px;
} */

.navbar-dark .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link{
    padding: 3px 0 0 0;
}
.p-lg-0 {
    padding: -2px !important;
    position: relative;
    top: 4px;
}


a#navbarDropdownMenuLink {
    position: relative;
    bottom: 9px;
}



.profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none;
  }

  .profile-button:hover {
    background: #682773;
  }

  .profile-button:focus {
    background: #682773;
    box-shadow: none;
  }

  .profile-button:active {
    background: #682773;
    box-shadow: none;
  }

  .back:hover {
    color: #682773;
    cursor: pointer;
  }



  .add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8;
  }

  .jobform {
    margin-left: 150px
  }

  textarea.form-control {
    height: 100px;
}

span.removeBtn {
    font-size: 30px;
    color: red;
    cursor: pointer;

}

.zoom {
    transition: transform .2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }



  .fa-heart:before {
    content: "\f004";
    font-size: 30px;
}


.widget-author {
    margin-bottom: 58px;
  }
  .author-card {
    position: relative;
    padding-bottom: 48px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .author-card .author-card-cover {
    position: relative;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .author-card .author-card-cover::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
  }
  .author-card .author-card-cover > .btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0 10px;
  }
  .author-card .author-card-profile {
    display: table;
    position: relative;
    margin-top: -22px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    z-index: 5;
  }
  .author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
    display: table-cell;
    vertical-align: middle;
  }
  .author-card .author-card-profile .author-card-avatar {
    width: 85px;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    overflow: hidden;
  }
  .author-card .author-card-profile .author-card-avatar > img {
    display: block;
    width: 100%;
  }
  .author-card .author-card-profile .author-card-details {
    padding-top: 20px;
    padding-left: 15px;
  }
  .author-card .author-card-profile .author-card-name {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
  }
  .author-card .author-card-profile .author-card-position {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
  }
  .author-card .author-card-info {
    margin-bottom: 0;
    padding: 0 25px;
    font-size: 13px;
  }
  .author-card .author-card-social-bar-wrap {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
  }
  .author-card .author-card-social-bar-wrap .author-card-social-bar {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
  }
  .btn-style-1.btn-white {
      background-color: #fff;
  }
  .list-group-item i {
      display: inline-block;
      margin-top: -1px;
      margin-right: 8px;
      font-size: 1.2em;
      vertical-align: middle;
  }
  .mr-1, .mx-1 {
      margin-right: .25rem !important;
  }

  .list-group-item.active:not(.disabled) {
      border-color: #e7e7e7;
      background: #fff;
      color: #ac32e4;
      cursor: default;
      pointer-events: none;
  }
  .list-group-flush:last-child .list-group-item:last-child {
      border-bottom: 0;
  }

  .list-group-flush .list-group-item {
      border-right: 0 !important;
      border-left: 0 !important;
  }

  .list-group-flush .list-group-item {
      border-right: 0;
      border-left: 0;
      border-radius: 0;
  }
  .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
  }
  .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
  }
  a.list-group-item, .list-group-item-action {
      color: #404040;
      font-weight: 600;
  }
  .list-group-item {
      padding-top: 16px;
      padding-bottom: 16px;
      -webkit-transition: all .3s;
      transition: all .3s;
      border: 1px solid #e7e7e7 !important;
      border-radius: 0 !important;
      color: #404040;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: .08em;
      /* text-transform: uppercase; */
      text-decoration: none;
  }
  .list-group-item {
      position: relative;
      display: block;
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.125);
  }

  .product-card {
    position: relative;
    max-width: 380px;
    padding-top: 12px;
    padding-bottom: 43px;
    transition: all 0.35s;
    border: 1px solid #e7e7e7;
  }
  .product-card .product-head {
    padding: 0 15px 8px;
  }
  .product-card .product-head .badge {
    margin: 0;
  }
  .product-card .product-thumb {
    display: block;
  }
  .product-card .product-thumb > img {
    display: block;
    width: 100%;
  }
  .product-card .product-card-body {
    padding: 0 20px;
    text-align: center;
  }
  .product-card .product-meta {
    display: block;
    padding: 12px 0 2px;
    transition: color 0.25s;
    color: rgba(140, 140, 140, .75);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
  }
  .product-card .product-meta:hover {
    color: #8c8c8c;
  }
  .product-card .product-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  .product-card .product-title > a {
    transition: color 0.3s;
    color: #343b43;
    text-decoration: none;
  }
  .product-card .product-title > a:hover {
    color: #ac32e4;
  }
  .product-card .product-price {
    display: block;
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
  }
  .product-card .product-price > del {
    margin-right: 6px;
    color: rgba(140, 140, 140, .75);
  }
  .product-card .product-buttons-wrap {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
  }
  .product-card .product-buttons {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
  }
  .product-card .product-button {
    display: table-cell;
    position: relative;
    width: 50px;
    height: 40px;
    border-right: 1px solid rgba(231, 231, 231, .6);
  }
  .product-card .product-button:last-child {
    border-right: 0;
  }
  .product-card .product-button > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    color: #404040;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
  }
  .product-card .product-button > a:hover {
    background-color: #ac32e4;
    color: #fff;
  }
  .product-card:hover {
    border-color: transparent;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .product-category-card {
    display: block;
    max-width: 400px;
    text-align: center;
    text-decoration: none !important;
  }
  .product-category-card .product-category-card-thumb {
    display: table;
    width: 100%;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .product-category-card .product-category-card-body {
    padding: 20px;
    padding-bottom: 28px;
  }
  .product-category-card .main-img, .product-category-card .thumblist {
    display: table-cell;
    padding: 15px;
    vertical-align: middle;
  }
  .product-category-card .main-img > img, .product-category-card .thumblist > img {
    display: block;
    width: 100%;
  }
  .product-category-card .main-img {
    width: 65%;
    padding-right: 10px;
  }
  .product-category-card .thumblist {
    width: 35%;
    padding-left: 10px;
  }
  .product-category-card .thumblist > img:first-child {
    margin-bottom: 6px;
  }
  .product-category-card .product-category-card-meta {
    display: block;
    padding-bottom: 9px;
    color: rgba(140, 140, 140, .75);
    font-size: 11px;
    font-weight: 600;
  }
  .product-category-card .product-category-card-title {
    margin-bottom: 0;
    transition: color 0.3s;
    color: #343b43;
    font-size: 18px;
  }
  .product-category-card:hover .product-category-card-title {
    color: #ac32e4;
  }
  .product-gallery {
    position: relative;
    padding: 45px 15px 0;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .product-gallery .gallery-item::before {
    display: none !important;
  }
  .product-gallery .gallery-item::after {
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .26);
  }
  .product-gallery .video-player-button, .product-gallery .badge {
    position: absolute;
    z-index: 5;
  }
  .product-gallery .badge {
    top: 15px;
    left: 15px;
    margin-left: 0;
  }
  .product-gallery .video-player-button {
    top: 0;
    right: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .product-gallery .product-thumbnails {
    display: block;
    margin: 0 -15px;
    padding: 12px;
    border-top: 1px solid #e7e7e7;
    list-style: none;
    text-align: center;
  }
  .product-gallery .product-thumbnails > li {
    display: inline-block;
    margin: 10px 3px;
  }
  .product-gallery .product-thumbnails > li > a {
    display: block;
    width: 94px;
    transition: all 0.25s;
    border: 1px solid transparent;
    background-color: #fff;
    opacity: 0.75;
  }
  .product-gallery .product-thumbnails > li:hover > a {
    opacity: 1;
  }
  .product-gallery .product-thumbnails > li.active > a {
    border-color: #ac32e4;
    cursor: default;
    opacity: 1;
  }
  .product-meta {
    padding-bottom: 10px;
  }
  .product-meta > a, .product-meta > i {
    display: inline-block;
    margin-right: 5px;
    color: rgba(140, 140, 140, .75);
    vertical-align: middle;
  }
  .product-meta > i {
    margin-top: 2px;
  }
  .product-meta > a {
    transition: color 0.25s;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
  }
  .product-meta > a:hover {
    color: #8c8c8c;
  }
  .cart-item {
    position: relative;
    max-height: 175px;
    margin-bottom: 30px;
    padding: 0 50px 0 10px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .cart-item .cart-item-label {
    display: block;
    margin-bottom: 15px;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .cart-item .cart-item-product {
    display: table;
    width: 420px;
    text-decoration: none;
  }
  .cart-item .cart-item-product-thumb, .cart-item .cart-item-product-info {
    display: table-cell;
    vertical-align: top;
  }
  .cart-item .cart-item-product-thumb {
    width: 110px;
  }
  .cart-item .cart-item-product-thumb > img {
    display: block;
    width: 100%;
  }
  .cart-item .cart-item-product-info {
    padding-top: 5px;
    padding-left: 15px;
  }
  .cart-item .cart-item-product-info > span {
    display: block;
    margin-bottom: 2px;
    color: #404040;
    font-size: 12px;
  }
  .cart-item .cart-item-product-title {
    margin-bottom: 8px;
    transition: color, 0.3s;
    color: #343b43;
    font-size: 25px;
    font-weight: bold;
  }

  .sal-text{
    font-size: 16px !important;
    font-weight: bold;
  }

  .cart-item .cart-item-product:hover .cart-item-product-title {
    color: #ac32e4;
  }
  .cart-item .count-input {
    display: inline-block;
    width: 85px;
  }
  .cart-item .remove-item {
    right: -10px !important;
  }
  @media (max-width: 991px) {
    .cart-item {
      padding-right: 30px;
    }
    .cart-item .cart-item-product {
      width: auto;
    }
  }
  @media (max-width: 768px) {
    .cart-item {
      padding-right: 10px;
      padding-bottom: 15px;
    }
    .cart-item .cart-item-product {
      display: block;
      width: 100%;
      text-align: center;
    }
    .cart-item .cart-item-product-thumb, .cart-item .cart-item-product-info {
      display: block;
    }
    .cart-item .cart-item-product-thumb {
      margin: 0 auto 10px;
    }
    .cart-item .cart-item-product-info {
      padding-left: 0;
    }
    .cart-item .cart-item-label {
      margin-bottom: 8px;
    }
  }
  .comparison-table {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .comparison-table table {
    min-width: 750px;
    table-layout: fixed;
  }
  .comparison-table .comparison-item {
    position: relative;
    margin-bottom: 10px;
    padding: 13px 12px 18px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .comparison-table .comparison-item .comparison-item-thumb {
    display: block;
    width: 80px;
    margin-right: auto;
    margin-bottom: 12px;
    margin-left: auto;
  }
  .comparison-table .comparison-item .comparison-item-thumb > img {
    display: block;
    width: 100%;
  }
  .comparison-table .comparison-item .comparison-item-title {
    display: block;
    margin-bottom: 14px;
    transition: color 0.25s;
    color: #404040;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }
  .comparison-table .comparison-item .comparison-item-title:hover {
    color: #ac32e4;
  }
  .remove-item {
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 22px;
    height: 22px;
    padding-left: 1px;
    border-radius: 50%;
    background-color: #ff5252;
    color: #fff;
    line-height: 23px;
    text-align: center;
    box-shadow: 0 3px 12px 0 rgba(255, 82, 82, .5);
    cursor: pointer;
  }
  .card-wrapper {
    margin: 30px -15px;
  }
  @media (max-width: 576px) {
    .card-wrapper .jp-card-container {
      width: 260px !important;
    }
    .card-wrapper .jp-card {
      min-width: 250px !important;
    }
  }

  .dynamic {
    font-size: 30px;
    color: red;
    cursor: pointer;
    position: relative;
    top: 60px;
    margin-left: 25px;
}

.labels{
    font-size: 20px;
    font-weight: 500;

}

img.comp-logo {
    height: 125px;
    object-fit: fill;
}

/* <i  class="fa fa-heart text-primary"></i> */

span.count {
    position: relative;
    left: -30px;
    font-weight: 900;
}







@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.container-job {
    display: flex;
    width: 1319px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card-job {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 500px;
}
.card-header-job img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
.col-md-6.btn-primary.hired {
    position: relative;
    cursor: pointer;
    left: 100px;
}
.col-md-6.btn-danger.reject {
    position: relative;
    cursor: pointer;
    left: 41px;
}

.col-md-12.btn-primary.resume {
    position: relative;
    left: 57px;
}

.main-body {
    padding: 15px;
}
.card-user {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card-user {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body-user {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}



.dropbtn {
    color: #00B074;
    font-size: 30px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */


  i.fa-edit.fas.span-edit {
    font-size: 20px;
    color:orange;
}

  i.fa-trash.fas.span-delete {
    font-size: 20px;
    color: red;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }



  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

::selection{
  color: #fff;
  background: #1a81ff;
}
.container-post{
    margin: auto;
  width: 500px;
  height: 480px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  transition: height 0.2s ease;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}
.container-post.active{
  height: 590px;
}
.container-post .wrapper{
  width: 1000px;
  display: flex;
}
.container-post .wrapper section{
  width: 500px;
  background: #fff;
}
.container-post img{
  cursor: pointer;
}
.container-post .post{
  transition: margin-left 0.18s ease;
}
.container-post.active .post{
  margin-left: -500px;
}
.post header{
  font-size: 22px;
  font-weight: 600;
  padding: 17px 0;
  text-align: center;
  border-bottom: 1px solid #bfbfbf;
}
.post form{
  margin: 20px 25px;
}
.post form .content,
.audience .list li .column{
  display: flex;
  align-items: center;
}
.post form .content img{
  cursor: default;
  max-width: 52px;
}
.post form .content .details{
  margin: -3px 0 0 12px;
}
form .content .details p{
  font-size: 17px;
  font-weight: 500;
}
.content .details .privacy{
  display: flex;
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
  max-width: 98px;
  background: #E4E6EB;
  justify-content: space-between;
}
.details .privacy span{
  font-size: 13px;
  margin-top: 1px;
  font-weight: 500;
}
.details .privacy i:last-child{
  font-size: 13px;
  margin-left: 1px;
}
form :where(textarea, button){
  width: 100%;
  outline: none;
  border: none;
}
form textarea{
  resize: none;
  font-size: 18px;
  margin-top: 30px;
  min-height: 100px;
}
form textarea::placeholder{
  color: #858585;
}
form textarea:focus::placeholder{
  color: #b3b3b3;
}
form :where(.theme-emoji, .options){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-emoji img:last-child{
  max-width: 24px;
}
form .options{
  height: 57px;
  margin: 15px 0;
  padding: 0 15px;
  border-radius: 7px;
  border: 1px solid #B9B9B9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
form .options :where(.list, li),
.audience :where(.arrow-back, .icon, li .radio){
  display: flex;
  align-items: center;
  justify-content: center;
}
form .options p{
  color: #595959;
  font-size: 15px;
  font-weight: 500;
  cursor: default;
}
form .options .list{
  list-style: none;
}
.options .list li{
  height: 42px;
  width: 42px;
  margin: 0 -1px;
  cursor: pointer;
  border-radius: 50%;
}
.options .list li:hover{
  background: #f0f1f4;
}
.options .list li img{
  width: 23px;
}
form button{
  height: 53px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #BCC0C4;
  cursor: no-drop;
  border-radius: 7px;
  background: #e2e5e9;
  transition: all 0.3s ease;
}
form textarea:valid ~ button{
  color: #fff;
  cursor: pointer;
  background: #4599FF;
}
form textarea:valid ~ button:hover{
  background: #1a81ff;
}
.container .audience{
  opacity: 0;
  transition: opacity 0.12s ease;
}
.container.active .audience{
  opacity: 1;
}
.audience header{
  padding: 17px 0;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.audience header .arrow-back{
  position: absolute;
  left: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
  color: #747474;
  border-radius: 50%;
  background: #E4E6EB;
}
.audience header p{
  font-size: 22px;
  font-weight: 600;
}
.audience .content{
  margin: 20px 25px 0;
}
.audience .content p{
  font-size: 17px;
  font-weight: 500;
}
.audience .content span{
  font-size: 14px;
  color: #65676B;
}
.audience .list{
  margin: 15px 16px 20px;
  list-style: none;
}
.audience .list li{
  display: flex;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 12px 10px;
  border-radius: 7px;
  align-items: center;
  justify-content: space-between;
}
.list li.active,
.audience .list li.active:hover{
  background: #E5F1FF;
}
.audience .list li:hover{
  background: #f0f1f4;
}
.audience .list li .column .icon{
  height: 50px;
  width: 50px;
  color: #333;
  font-size: 23px;
  border-radius: 50%;
  background: #E4E6EB;
}
.audience .list li.active .column .icon{
  background: #cce4ff;
}
.audience .list li .column .details{
  margin-left: 15px;
}
.list li .column .details p{
  font-weight: 500;
}
.list li .column .details span{
  font-size: 14px;
  color: #65676B;
}
.list li .radio{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #707070;
}
.list li.active .radio{
  border: 2px solid #4599FF;
}
.list li .radio::before{
  content: "";
  width: 12px;
  height: 12px;
  border-radius: inherit;
}
.list li.active .radio::before{
  background: #4599FF;
}
.modal-close-btn {
    position: relative;
    float: left;
    left: 25px;
    cursor: pointer;
}


.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    margin-left: -1px;
}

span.tag.tag-teal.position {
    position: relative;
    left: 150%;

}
.fb{
    width: 460px;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
    height: 80px;
  }
  .fb p{
    font-family:sans-serif;
    margin: 0 0 0 10px;
    line-height:30px;
  }

  .fb-top span{
    color:#4267B2;
    float:right;
    margin-right:10px;
  }
  .fb-top{
    background-color:#efefef;
    height:30px;
    width:500px;
    border-radius:5px 5px 0 0;
    position:absolute;
    top:-1px;
    left:-1px;
    border:1px solid gray;
  }

  .fb img{
    position: absolute;
    left: 10px;
    top: 20.5px;
  }

  .info{
    position: absolute;
    left: 55px;
    top: 25px;
  }

  .info {
    color:#4267B2;
    line-height:25px;
    font-size:18px;
  }

  .info span{
    color:#777;
    font-size:14px;
  }

  .button-block{
    position: absolute;
    right: 25px;
    top: 25px;
  }

  .button-block div{
    display:inline-block;
  }

  .confirm .delete{
    background-color:#4267B2;
    color:white;
    padding:7px;
    border-radius:2px;
    margin-right:10px;
    font-family:sans-serif;
  }

  .delete{
    color:white;
    background-color:rgb(183, 50, 50);
    border:1px solid #999;
    padding:6px;
    margin-right:0;
  }

  .button-block div:hover{
    opacity:.8;
    cursor:pointer;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .dropdown>.dropdown-toggle:active {

      pointer-events: none;
  }




  .search-input{
    width: 80%;
    padding: 10px;
    border: 4px solid #111d5e;
    border-radius:10px 0 0 10px ;
    border-right: none;
    outline: none;
    font-size: 20px;
    color: tomato;
    background: none;
  }
  .search-button {
    text-align: center;
    height: 57px;
    width: 50px;
    position: relative;
    outline: none;
    cursor: pointer;
    border: 4px solid #111d5e;
    border-radius: 0 10px 10px 0;
    border-left: none;
    background: none;
    font-size: 20px;
    border-left: 4px solid #111d5e;
    right: 4px;
}



    /* Candidate List */
    .candidate-list {
      background: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 1px solid #eeeeee;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 20px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .candidate-list:hover {
        -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
                box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
        position: relative;
        z-index: 99; }
        .candidate-list:hover a.candidate-list-favourite {
          color: #e74c3c;
          -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
                  box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1); }

    .candidate-list .candidate-list-image {
      margin-right: 25px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 80px;
              flex: 0 0 80px;
      border: none; }
      .candidate-list .candidate-list-image img {
        width: 80px;
        height: 80px;
        -o-object-fit: cover;
           object-fit: cover; }

    .candidate-list-title {
      margin-bottom: 5px; }

    .candidate-list-details ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 0px; }
      .candidate-list-details ul li {
        margin: 5px 10px 5px 0px;
        font-size: 13px; }

    .candidate-list .candidate-list-favourite-time {
      margin-left: auto;
      text-align: center;
      font-size: 13px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 90px;
              flex: 0 0 90px; }
      .candidate-list .candidate-list-favourite-time span {
        display: block;
        margin: 0 auto; }
      .candidate-list .candidate-list-favourite-time .candidate-list-favourite {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border: 1px solid #eeeeee;
        border-radius: 100%;
        text-align: center;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin-bottom: 20px;
        font-size: 16px;
        color: #646f79;
        }
        .candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
          background: #ffffff;
          color: #e74c3c; }

    .candidate-banner .candidate-list:hover {
      position: inherit;
      -webkit-box-shadow: inherit;
              box-shadow: inherit;
      z-index: inherit; }


    /* Candidate Grid */
    .candidate-list.candidate-grid {
        padding: 0px;
        display: block;
        border-bottom: none;
    }

    .candidate-grid .candidate-list-image {
        text-align: center;
        margin-right: 0px;
    }
    .candidate-grid .candidate-list-image img {
        height: 150px;
        width: 100%;
    }

    .candidate-grid .candidate-list-details {
        text-align: center;
        padding: 20px 20px 0px 20px;
        border: 1px solid #eeeeee;
        border-top: none;
    }
    .candidate-grid .candidate-list-details ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .candidate-grid .candidate-list-details ul li {
        margin: 2px 5px;
    }

    .candidate-grid .candidate-list-favourite-time {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-top: 1px solid #eeeeee;
        margin-top: 10px;
        padding: 10px 0;
    }
    .candidate-grid .candidate-list-favourite-time a {
        margin-bottom: 0;
        margin-left: auto;
    }
    .candidate-grid .candidate-list-favourite-time span {
        display: inline-block;
        margin: 0;
        -ms-flex-item-align: center;
        align-self: center;
    }

    .candidate-list.candidate-grid .candidate-list-favourite-time .candidate-list-favourite {
        margin-bottom: 0px;
    }

    .owl-carousel .candidate-list.candidate-grid {
        margin-bottom: 20px;
    }


    /* Widget */
    .widget .widget-title {
        margin-bottom: 20px;
    }
    .widget .widget-title h6 {
        margin-bottom: 0;
    }
    .widget .widget-title a {
        color: #212529;
    }

    .widget .widget-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }

    /* similar-jobs-item */
    .similar-jobs-item .job-list {
        border-bottom: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    .similar-jobs-item .job-list:last-child {
        margin-bottom: 0;
    }
    .similar-jobs-item .job-list:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /* checkbox */
    .widget .widget-content {
        margin-top: 10px;
    }
    .widget .widget-content .custom-checkbox {
        margin-bottom: 8px;
    }
    .widget .widget-content .custom-checkbox:last-child {
        margin-bottom: 0px;
    }

    .widget .custom-checkbox.fulltime-job .custom-control-label:before {
        background-color: #186fc9;
        border: 2px solid #186fc9;
    }

    .widget .custom-checkbox.fulltime-job .custom-control-input:checked ~ .custom-control-label:before {
        background: #186fc9;
        border-color: #186fc9;
    }

    .widget .custom-checkbox.parttime-job .custom-control-label:before {
        background-color: #ffc107;
        border: 2px solid #ffc107;
    }

    .widget .custom-checkbox.parttime-job .custom-control-input:checked ~ .custom-control-label:before {
        background: #ffc107;
        border-color: #ffc107;
    }

    .widget .custom-checkbox.freelance-job .custom-control-label:before {
        background-color: #53b427;
        border: 2px solid #53b427;
    }

    .widget .custom-checkbox.freelance-job .custom-control-input:checked ~ .custom-control-label:before {
        background: #53b427;
        border-color: #53b427;
    }

    .widget .custom-checkbox.temporary-job .custom-control-label:before {
        background-color: #e74c3c;
        border: 2px solid #e74c3c;
    }

    .widget .custom-checkbox.temporary-job .custom-control-input:checked ~ .custom-control-label:before {
        background: #e74c3c;
        border-color: #e74c3c;
    }

    .widget ul {
        margin: 0;
    }
    .widget ul li a:hover {
        color: #21c87a;
    }

    .widget .company-detail-meta ul {
        display: block;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .widget .company-detail-meta ul li {
        margin-right: 15px;
        display: inline-block;
    }
    .widget .company-detail-meta ul li a {
        color: #646f79;
        font-weight: 600;
        font-size: 12px;
    }

    .widget .company-detail-meta .share-box li {
        margin-right: 0;
        display: inline-block;
        float: left;
    }

    .widget .company-detail-meta ul li.linkedin a {
        padding: 15px 20px;
        border: 2px solid #eeeeee;
        display: inline-block;
    }
    .widget .company-detail-meta ul li.linkedin a i {
        color: #06cdff;
    }

    .widget .company-address ul li {
        margin-bottom: 10px;
    }
    .widget .company-address ul li:last-child {
        margin-bottom: 0;
    }
    .widget .company-address ul li a {
        color: #646f79;
    }

    .widget .widget-box {
        padding: 20px 15px;
    }

    .widget .similar-jobs-item .job-list.jobster-list {
        padding: 15px 10px;
        border: 0;
        margin-bottom: 10px;
    }

    .widget .similar-jobs-item .job-list {
        padding-bottom: 15px;
    }

    .widget .similar-jobs-item .job-list-logo {
        margin-left: auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
        flex: 0 0 60px;
        height: 60px;
        width: 60px;
    }

    .widget .similar-jobs-item .job-list-details {
        margin-right: 15px;
        -ms-flex-item-align: center;
        align-self: center;
    }
    .widget .similar-jobs-item .job-list-details .job-list-title h6 {
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .widget .similar-jobs-item .job-list.jobster-list .job-list-company-name {
        color: #21c87a;
    }

    .widget .docs-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #eeeeee;
        padding: 30px;
        border-radius: 3px;
    }
    .widget .docs-content .docs-text {
        -ms-flex-item-align: center;
        align-self: center;
        color: #646f79;
    }
    .widget .docs-content span {
        font-weight: 600;
    }
    .widget .docs-content .docs-icon {
        margin-left: auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
        flex: 0 0 38px;
    }

    /* Job Detail */
    .widget .jobster-company-view ul li {
        border: 1px solid #eeeeee;
        margin-bottom: 20px;
    }
    .widget .jobster-company-view ul li:last-child {
        margin-bottom: 0;
    }
    .widget .jobster-company-view ul li span {
        color: #212529;
        -ms-flex-item-align: center;
        align-self: center;
        font-weight: 600;
    }

    .sidebar .widget {
        border: 1px solid #eeeeee;
        margin-bottom: 30px;
    }
    .sidebar .widget .widget-title {
        border-bottom: 1px solid #eeeeee;
        padding: 14px 20px;
    }

    .sidebar .widget .widget-content {
        padding: 14px 20px;
    }
    .widget .widget-content {
        margin-top: 10px;
    }
