/********** Template CSS **********/
:root {
    --primary: #00B074;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;

    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--primary);
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--primary);
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
.about-bg {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
}


/*** Category ***/
.cat-item {
    display: block;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border: 1px solid transparent;
    transition: .5s;
}

.cat-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Job Listing ***/
.nav-pills .nav-item .active {
    border-bottom: 2px solid var(--primary);
}

.job-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.fa-user:before {
    content: "\f007";
    position: absolute;
    top: 12px;
    left: -20px;
}

.fa-lock:before {
    content: "\f023";
    position: absolute;
    left: -20px;
}

.fa-at:before {
    content: "\f1fa";
    position: absolute;
    left: -20px;
}

i.fa.fa-lock.sign-in {
    position: absolute;
    bottom: 52px;
}

i.fas.fa-key {
    position: absolute;
    left: -20px;
    top: 13px;
}


i.fa.fa-lock.register {
    position: absolute;
    bottom: 120px;
}

i.fa.fa-lock.lg-ga {
    position: absolute;
    bottom: 51px;
}

.login-modal-header .modal-title {
    color: #fff;
    margin-right: 86px;
}

.form-group {
    padding: 10px;
}

a {
    color: #00B074;
    padding: 5px;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 62px;
    margin-bottom: 0;
    list-style: none;
}

.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus {
    background-color: #ff8627;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background-color 300ms linear 0s;
}


.login-tab {
	margin: 0 auto;
	max-width: 380px;
}

.login-modal-header {
	background: #27ae60;
	color: #fff;
}

.login-modal-header .modal-title {
	color: #fff;
}

.login-modal-header .close {
	color: #fff;
}

.login-modal i {
	color: #000;
}

.login-modal form {
	max-width: 340px;
}

.tab-pane form {
	margin: 0 auto;
}
.login-modal-footer{
	margin-top:15px;
	margin-bottom:15px;
}


.bg-custom-1 {
    background-color: #85144b;
  }

  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }


  /* div#ajaxRefreshLogout {
    margin-top: -7px;
} */

.navbar-dark .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link{
    padding: 3px 0 0 0;
}
.p-lg-0 {
    padding: -2px !important;
    position: relative;
    top: 4px;
}


a#navbarDropdownMenuLink {
    position: relative;
    bottom: 9px;
}



.profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none;
  }

  .profile-button:hover {
    background: #682773;
  }

  .profile-button:focus {
    background: #682773;
    box-shadow: none;
  }

  .profile-button:active {
    background: #682773;
    box-shadow: none;
  }

  .back:hover {
    color: #682773;
    cursor: pointer;
  }



  .add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8;
  }

  .jobform {
    margin-left: 150px
  }

  textarea.form-control {
    height: 100px;
}

span.removeBtn {
    font-size: 30px;
    color: red;
    cursor: pointer;

}

.zoom {
    transition: transform .2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
  }

  .fa-heart:before {
    content: "\f004";
    font-size: 30px;
}


.widget-author {
    margin-bottom: 58px;
  }
  .author-card {
    position: relative;
    padding-bottom: 48px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .author-card .author-card-cover {
    position: relative;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .author-card .author-card-cover::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
  }
  .author-card .author-card-cover > .btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0 10px;
  }
  .author-card .author-card-profile {
    display: table;
    position: relative;
    margin-top: -22px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    z-index: 5;
  }
  .author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
    display: table-cell;
    vertical-align: middle;
  }
  .author-card .author-card-profile .author-card-avatar {
    width: 85px;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    overflow: hidden;
  }
  .author-card .author-card-profile .author-card-avatar > img {
    display: block;
    width: 100%;
  }
  .author-card .author-card-profile .author-card-details {
    padding-top: 20px;
    padding-left: 15px;
  }
  .author-card .author-card-profile .author-card-name {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
  }
  .author-card .author-card-profile .author-card-position {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
  }
  .author-card .author-card-info {
    margin-bottom: 0;
    padding: 0 25px;
    font-size: 13px;
  }
  .author-card .author-card-social-bar-wrap {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
  }
  .author-card .author-card-social-bar-wrap .author-card-social-bar {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
  }
  .btn-style-1.btn-white {
      background-color: #fff;
  }
  .list-group-item i {
      display: inline-block;
      margin-top: -1px;
      margin-right: 8px;
      font-size: 1.2em;
      vertical-align: middle;
  }
  .mr-1, .mx-1 {
      margin-right: .25rem !important;
  }

  .list-group-item.active:not(.disabled) {
      border-color: #e7e7e7;
      background: #fff;
      color: #ac32e4;
      cursor: default;
      pointer-events: none;
  }
  .list-group-flush:last-child .list-group-item:last-child {
      border-bottom: 0;
  }

  .list-group-flush .list-group-item {
      border-right: 0 !important;
      border-left: 0 !important;
  }

  .list-group-flush .list-group-item {
      border-right: 0;
      border-left: 0;
      border-radius: 0;
  }
  .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
  }
  .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
  }
  a.list-group-item, .list-group-item-action {
      color: #404040;
      font-weight: 600;
  }
  .list-group-item {
      padding-top: 16px;
      padding-bottom: 16px;
      -webkit-transition: all .3s;
      transition: all .3s;
      border: 1px solid #e7e7e7 !important;
      border-radius: 0 !important;
      color: #404040;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: .08em;
      text-transform: uppercase;
      text-decoration: none;
  }
  .list-group-item {
      position: relative;
      display: block;
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid rgba(0,0,0,0.125);
  }

  .product-card {
    position: relative;
    max-width: 380px;
    padding-top: 12px;
    padding-bottom: 43px;
    transition: all 0.35s;
    border: 1px solid #e7e7e7;
  }
  .product-card .product-head {
    padding: 0 15px 8px;
  }
  .product-card .product-head .badge {
    margin: 0;
  }
  .product-card .product-thumb {
    display: block;
  }
  .product-card .product-thumb > img {
    display: block;
    width: 100%;
  }
  .product-card .product-card-body {
    padding: 0 20px;
    text-align: center;
  }
  .product-card .product-meta {
    display: block;
    padding: 12px 0 2px;
    transition: color 0.25s;
    color: rgba(140, 140, 140, .75);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
  }
  .product-card .product-meta:hover {
    color: #8c8c8c;
  }
  .product-card .product-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  .product-card .product-title > a {
    transition: color 0.3s;
    color: #343b43;
    text-decoration: none;
  }
  .product-card .product-title > a:hover {
    color: #ac32e4;
  }
  .product-card .product-price {
    display: block;
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
  }
  .product-card .product-price > del {
    margin-right: 6px;
    color: rgba(140, 140, 140, .75);
  }
  .product-card .product-buttons-wrap {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
  }
  .product-card .product-buttons {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
  }
  .product-card .product-button {
    display: table-cell;
    position: relative;
    width: 50px;
    height: 40px;
    border-right: 1px solid rgba(231, 231, 231, .6);
  }
  .product-card .product-button:last-child {
    border-right: 0;
  }
  .product-card .product-button > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    color: #404040;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
  }
  .product-card .product-button > a:hover {
    background-color: #ac32e4;
    color: #fff;
  }
  .product-card:hover {
    border-color: transparent;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .product-category-card {
    display: block;
    max-width: 400px;
    text-align: center;
    text-decoration: none !important;
  }
  .product-category-card .product-category-card-thumb {
    display: table;
    width: 100%;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .product-category-card .product-category-card-body {
    padding: 20px;
    padding-bottom: 28px;
  }
  .product-category-card .main-img, .product-category-card .thumblist {
    display: table-cell;
    padding: 15px;
    vertical-align: middle;
  }
  .product-category-card .main-img > img, .product-category-card .thumblist > img {
    display: block;
    width: 100%;
  }
  .product-category-card .main-img {
    width: 65%;
    padding-right: 10px;
  }
  .product-category-card .thumblist {
    width: 35%;
    padding-left: 10px;
  }
  .product-category-card .thumblist > img:first-child {
    margin-bottom: 6px;
  }
  .product-category-card .product-category-card-meta {
    display: block;
    padding-bottom: 9px;
    color: rgba(140, 140, 140, .75);
    font-size: 11px;
    font-weight: 600;
  }
  .product-category-card .product-category-card-title {
    margin-bottom: 0;
    transition: color 0.3s;
    color: #343b43;
    font-size: 18px;
  }
  .product-category-card:hover .product-category-card-title {
    color: #ac32e4;
  }
  .product-gallery {
    position: relative;
    padding: 45px 15px 0;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .product-gallery .gallery-item::before {
    display: none !important;
  }
  .product-gallery .gallery-item::after {
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .26);
  }
  .product-gallery .video-player-button, .product-gallery .badge {
    position: absolute;
    z-index: 5;
  }
  .product-gallery .badge {
    top: 15px;
    left: 15px;
    margin-left: 0;
  }
  .product-gallery .video-player-button {
    top: 0;
    right: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .product-gallery .product-thumbnails {
    display: block;
    margin: 0 -15px;
    padding: 12px;
    border-top: 1px solid #e7e7e7;
    list-style: none;
    text-align: center;
  }
  .product-gallery .product-thumbnails > li {
    display: inline-block;
    margin: 10px 3px;
  }
  .product-gallery .product-thumbnails > li > a {
    display: block;
    width: 94px;
    transition: all 0.25s;
    border: 1px solid transparent;
    background-color: #fff;
    opacity: 0.75;
  }
  .product-gallery .product-thumbnails > li:hover > a {
    opacity: 1;
  }
  .product-gallery .product-thumbnails > li.active > a {
    border-color: #ac32e4;
    cursor: default;
    opacity: 1;
  }
  .product-meta {
    padding-bottom: 10px;
  }
  .product-meta > a, .product-meta > i {
    display: inline-block;
    margin-right: 5px;
    color: rgba(140, 140, 140, .75);
    vertical-align: middle;
  }
  .product-meta > i {
    margin-top: 2px;
  }
  .product-meta > a {
    transition: color 0.25s;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
  }
  .product-meta > a:hover {
    color: #8c8c8c;
  }
  .cart-item {
    position: relative;
    margin-bottom: 30px;
    padding: 0 50px 0 10px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .cart-item .cart-item-label {
    display: block;
    margin-bottom: 15px;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .cart-item .cart-item-product {
    display: table;
    width: 420px;
    text-decoration: none;
  }
  .cart-item .cart-item-product-thumb, .cart-item .cart-item-product-info {
    display: table-cell;
    vertical-align: top;
  }
  .cart-item .cart-item-product-thumb {
    width: 110px;
  }
  .cart-item .cart-item-product-thumb > img {
    display: block;
    width: 100%;
  }
  .cart-item .cart-item-product-info {
    padding-top: 5px;
    padding-left: 15px;
  }
  .cart-item .cart-item-product-info > span {
    display: block;
    margin-bottom: 2px;
    color: #404040;
    font-size: 12px;
  }
  .cart-item .cart-item-product-title {
    margin-bottom: 8px;
    transition: color, 0.3s;
    color: #343b43;
    font-size: 30px;
    font-weight: bold;
  }

  .sal-text{
    font-size: 16px !important;
    font-weight: bold;
  }

  .cart-item .cart-item-product:hover .cart-item-product-title {
    color: #ac32e4;
  }
  .cart-item .count-input {
    display: inline-block;
    width: 85px;
  }
  .cart-item .remove-item {
    right: -10px !important;
  }
  @media (max-width: 991px) {
    .cart-item {
      padding-right: 30px;
    }
    .cart-item .cart-item-product {
      width: auto;
    }
  }
  @media (max-width: 768px) {
    .cart-item {
      padding-right: 10px;
      padding-bottom: 15px;
    }
    .cart-item .cart-item-product {
      display: block;
      width: 100%;
      text-align: center;
    }
    .cart-item .cart-item-product-thumb, .cart-item .cart-item-product-info {
      display: block;
    }
    .cart-item .cart-item-product-thumb {
      margin: 0 auto 10px;
    }
    .cart-item .cart-item-product-info {
      padding-left: 0;
    }
    .cart-item .cart-item-label {
      margin-bottom: 8px;
    }
  }
  .comparison-table {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .comparison-table table {
    min-width: 750px;
    table-layout: fixed;
  }
  .comparison-table .comparison-item {
    position: relative;
    margin-bottom: 10px;
    padding: 13px 12px 18px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
  }
  .comparison-table .comparison-item .comparison-item-thumb {
    display: block;
    width: 80px;
    margin-right: auto;
    margin-bottom: 12px;
    margin-left: auto;
  }
  .comparison-table .comparison-item .comparison-item-thumb > img {
    display: block;
    width: 100%;
  }
  .comparison-table .comparison-item .comparison-item-title {
    display: block;
    margin-bottom: 14px;
    transition: color 0.25s;
    color: #404040;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }
  .comparison-table .comparison-item .comparison-item-title:hover {
    color: #ac32e4;
  }
  .remove-item {
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 22px;
    height: 22px;
    padding-left: 1px;
    border-radius: 50%;
    background-color: #ff5252;
    color: #fff;
    line-height: 23px;
    text-align: center;
    box-shadow: 0 3px 12px 0 rgba(255, 82, 82, .5);
    cursor: pointer;
  }
  .card-wrapper {
    margin: 30px -15px;
  }
  @media (max-width: 576px) {
    .card-wrapper .jp-card-container {
      width: 260px !important;
    }
    .card-wrapper .jp-card {
      min-width: 250px !important;
    }
  }

  .dynamic {
    font-size: 30px;
    color: red;
    cursor: pointer;
    position: relative;
    top: 60px;
    margin-left: 70px;
}
